@inherits LayoutComponentBase

<header>
    <div class="ui container">
        <div id="div-menu" class="ui top attached borderless inverted menu">
            <div class="item">
                <h2 class="ui inverted header">
                    Fern Software
                    <div class="sub header">SCV Preview</div>
                </h2>
            </div>
            <div class="right menu">
                <div class="item">
                    <a class="ui labeled icon button" href="https://github.com/fernsoftware/">
                        <i class="github icon"></i>
                        Fern Software
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="main">
    <div class="ui container">
        <div class="ui secondary pointing menu">
            <div class="item">
                <img class="ui tiny image" src="https://fernsoftware.com/img/logo.png" alt="">
            </div>
        </div>
        <div class="ui stackable grid">
            <div class="sixteen wide column">
                @Body
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="ui container">
        <div class="ui center aligned grid">
            <div class="ui three column row">
                <div class="middle aligned left aligned column">
                    &copy; @DateTime.UtcNow.Year Fern Software, All rights reserved.
                </div>
                <div class="column">
                    <img class="ui image" src="https://fernsoftware.com/img/logo.png" alt="">
                </div>
                <div class="middle aligned column">
                    <div class="ui text right floated menu">
                        <a class="item" href="https://fernsoftware.com/company/privacy">Privacy</a>
                        <a class="item" href="https://fernsoftware.com/support">Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
