@page "/"

@using System.IO
@using SCVPreview.SCV 

<h1 class="ui header">
    Single Customer View Preview
    <div class="sub header">
        Upload a SCV file to review its contents
    </div>
</h1>

<p>
    Under the <a href="http://www.prarulebook.co.uk/rulebook/Content/Part/304147/">Depositor Protection Rules</a>, FSCS must pay compensation to customers within 15 business days of a deposit taker failing. We target ourselves to exceed this and pay within seven days, so that customers can get their money back as soon as possible.
</p>

<h3 class="ui header">
    Select a file
</h3>

<form class="ui form">
    <div class="field">
        <div class="ui input">
            <InputFile OnChange="@OnInputFileChange" />
        </div>
    </div>
</form>

@if (records.Any())
{
    <table class="ui celled striped table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Identifier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in records)
            {
                <tr>
                    <td>@record.Identifier</td>
                    <td>@record.Identifier</td>
                    <td>@record.Identifier</td>
                </tr>
            }
        </tbody>
    </table>
}


@code
{
    public List<SCV> records = new List<SCV>();

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        int maxAllowedFiles = 1;
        int maxFileSize = 1024 * 1024 * 15;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            using (var reader = new StreamReader(file.OpenReadStream(maxFileSize)))
            {
                var line = await reader.ReadLineAsync();

                records.Add(new SCV(line));
            }
        }

        this.StateHasChanged();
    }
}