@page "/"

<h1 class="ui header">
    Single Customer View Preview
    <div class="sub header">
        Upload a SCV file to review its contents
    </div>
</h1>

<p>
    Under the <a href="http://www.prarulebook.co.uk/rulebook/Content/Part/304147/">Depositor Protection Rules</a>, FSCS must pay compensation to customers within 15 business days of a deposit taker failing. We target ourselves to exceed this and pay within seven days, so that customers can get their money back as soon as possible.
</p>

<h3 class="ui header">
    Select a file
</h3>

<input type="file" /> 

@*https://github.com/Tewr/BlazorFileReader*@